extends layout

block content
    if user
        if errors != undefined && errors.length != 0
            each error in errors
                div(class="error-msg" role='alert' id='a1') #{error.msg}
        if success_msg != ''
             div(role='alert' id='a2') #{success_msg}
        if error_msg != ''
            div(class="error-msg" role='alert' id='a3') #{error_msg}
        if error != ''
            div(class="error-msg" role='alert' id='a4') #{error}
            
        //- Yadda posts og replies
        each yadda in yaddas
            if (yadda.replyTo === null)
                //- Hvis replyTo har samme værdi og er samme type som null, skriv en feedBesked
                div.feedBesked
                    p.content #{yadda.content}
                        img.delimg(src="/users/getimage/" + yadda.bywhom)
                        img(src="/getimage/" + yadda.id) 
                        span.time-right Posted by #{yadda.bywhom}
                        span.time-right #{yadda.timestamp.getHours()}:#{yadda.timestamp.getMinutes()} #{yadda.timestamp.getDate()}/#{yadda.timestamp.getMonth()}
                 
                    //- Replies
                each reply in yaddareplies
                    if (reply.replyTo == yadda.id)
                        div.replyBesked
                            p.content #{reply.content}
                                img.delimg(src="/users/getimage/" + reply.bywhom)
                                img(src="/getimage/" + reply.id) 
                                span.time-right Posted by #{reply.bywhom}
                                span(class="time-right") #{reply.timestamp.getHours()}:#{reply.timestamp.getMinutes()} #{reply.timestamp.getDate()}/#{reply.timestamp.getMonth()}
                
                a(href="/replyto/" + yadda.id) 
                    button.follow-reply Reply
            hr
        aside.containt
            header
                input(type="text" placeholder="search")
                each followee in follows
                    div.contact
                        div.card
                            div.firstinfo
                                img(src="/users/getimage/" + followee.follows)
                                h1.nickname #{followee.follows}
                                p
                                    a(href="/yaddaForm/" + followee.follows) 
                                        button.follow Send Yadda