extends layout

block content
    if user
        if errors != undefined && errors.length != 0
            each error in errors
                div(class="error-msg" role='alert' id='a1') #{error.msg}
        if success_msg != ''
             div(role='alert' id='a2') #{success_msg}
        if error_msg != ''
            div(class="error-msg" role='alert' id='a3') #{error_msg}
        if error != ''
            div(class="error-msg" role='alert' id='a4') #{error}
    
        section.comments-section
            //- Yadda posts og replies
            each yadda in yaddas
                //- Hvis replyTo har samme værdi og er samme type som null, skriv en feedBesked
                if (yadda.replyTo === null || yadda.id == replies)
                        .comment-initial
                            .comment-avatar-container 
                                img.comment-avatar(src="/users/getimage/" + yadda.bywhom) 
                            p.comment-text #{yadda.content}
                                if (yadda.image.data.length > 0)
                                    img.delimg(src="/getimage/" + yadda.id)
                                p.comment-time-stamp Posted by #{yadda.bywhom} #{yadda.timestamp.getHours()}:#{yadda.timestamp.getMinutes()} #{yadda.timestamp.getDate()}/#{yadda.timestamp.getMonth()}
                                    a(href="/replyto/" + yadda.id) 
                                        button(class="fa fa-reply")
                                    //- Replies
                        each reply in yaddas
                            if (reply.replyTo == yadda.id)
                                .comment-response
                                    .comment-avatar-container
                                        img.comment-avatar(src="/users/getimage/" + reply.bywhom)
                                    p.comment-text #{reply.content} 
                                    if (reply.image.data.length > 0)
                                        img.delimg(src="/getimage/" + reply.id)
                                    p.comment-time-stamp Posted by #{reply.bywhom} #{reply.timestamp.getHours()}:#{reply.timestamp.getMinutes()} #{reply.timestamp.getDate()}/#{reply.timestamp.getMonth()}
                                        a(href="/replyto/" + reply.id) 
                                            button(class="fa fa-reply")
                                    each replyreply in yaddas
                                        if (replyreply.replyTo == reply.id)
                                            a(href="/readmore/" + reply.id) 
                                                button(class="") Read more

            aside.containt
                    each followee in follows
                        div#chatbox
                                    div.friend                            
                                        img(src="/users/getimage/" + followee.follows)
                                        p
                                            strong #{followee.follows}
                                            a(href="/yaddaForm/" + followee.follows) 
                                                button(class="fa fa-envelope")
                                    div
                                        p.annoncer  Annoncer