extends layout

block content
    div.wrapper-chat
        div(class="container fixed rev")
            ul(class="message-body")
    h1 #{title}
    footer
        div.bottom
            form(class="form" method='post' action='/yaddaForm')
                if user
                div.sendMess 
                button(class="attachment")
                    i(class="fa fa-paperclip")
                    textarea(id="text" name="" cols="20" rows="3" placeholder="enter your message")
                    i(class="fa fa-camera-retro fa-lg")
                if errors != undefined && errors.length != 0
                    each error in errors
                        div(class="error-msg" role='alert' id='a1') #{error.msg}
                if success_msg != ''
                    div(role='alert' id='a2') #{success_msg}
                if error_msg != ''
                    div(class="error-msg" role='alert' id='a3') #{error_msg}
                if error != ''
                    div(class="error-msg" role='alert' id='a4') #{error}