extends layout

block content
        h1 #{title}
        footer  
                div.inputarea
                    form(class="form" method='post' action='/yaddaForm/' + yadda)      
                            div.inputwrapper
                                input(type="text" name="content")
                                input(class="fa fa-paperclip" type="file" name='image' placeholder="optional")
                                button(type="submit" class="sendbtn") Submit 

                            if errors != undefined && errors.length != 0
                                each error in errors
                                    div(class="error-msg" role='alert' id='a1') #{error.msg}
                            if success_msg != ''
                                div(role='alert' id='a2') #{success_msg}
                            if error_msg != ''
                                div(class="error-msg" role='alert' id='a3') #{error_msg}
                            if error != ''
                                div(class="error-msg" role='alert' id='a4') #{error}
